    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">MAJOR KEY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="//">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="//">Socials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-400">
        <div class="row h-400">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto"><br><br><br>
             

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>

<h1 class="center">Developers</h1>

<div class="row">
  <div class="column">
    <img src="http://i66.tinypic.com/106n3he.jpg" height="100">
    <br>
    <br>
    <h2>Chris</h2>
    Chris is a senior at Princeton High School. She loves music and plays flute and piano! She is in her school’s jazz band. Her interests and passions include traveling, everything STEM, dogs, and kungfu. </p>
  </div>
  <div class="column">
    <img src="http://i63.tinypic.com/apgpwk.jpg" height="100">
    <br>
    <br>
    <h2>Sophia</h2>
    Sophia is a sophomore studying packaging engineering at Rutgers University. She is a radio DJ on 90.3 The Core and enjoys all things music. In her free time, she likes running, going to concerts, and playing with her dog.</p>
  </div>
  <div class="column">
    <img src="http://i67.tinypic.com/t6uz6f.jpg" height="100">
    <br>
    <br>
    <h2>Gracie</h2>
      Gracie is a junior at Livingston High School. She loves writing, and is the editor-in-chief of Soliloquie Magazine. She's passionate about all STEM subjects, and hopes to pursue computer science in the future.</p>
  </div>
</div>

    <!-- Bootstrap core JavaScript -->
    <script src="min.js"></script>
    <script src="bundle_min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.js"></script>

    <!-- Custom scripts for this template -->
    <script src="index.js"></script>