<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MAJOR KEY</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="font_awesome.css">
    <link rel="stylesheet" href="simple_line_icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device_mockups.css">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">MAJOR KEY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="//">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Developers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="//">Socials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5"><b>MAJOR KEY</b> is a female artist generator to help music listeners incorporate more female artists into their listening.</h1>

              <!-- <a href="//" class="btn btn-outline btn-xl js-scroll-trigger">Genre</a> -->

              <select>
                <option value="//">Select Genre</option>
                <option value="//">Pop</option>
                <option value="//">Indie</option>
                <option value="//">Country</option>
              </select>
              <br>
              <br>
              <a href="//" class="btn btn-outline btn-xl js-scroll-trigger">Generate!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- Bootstrap core JavaScript -->
    <script src="min.js"></script>
    <script src="bundle_min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.js"></script>

    <!-- Custom scripts for this template -->
    <script src="index.js"></script>

  </body>

</html>